@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900';
.container_adventure {
    height: 48px;
    background: #fff;
    display: block;
    font-size: 10px;
}
.container_adventure .glitch {
    color: #333;
    font-size: 42px;
    position: relative;
    font-family: 'Roboto';
    font-weight: 700;
}
.container_adventure .glitch::before,
.container_adventure .glitch::after {
    content: 'Adventure';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    color: #333;
}
.container_adventure .glitch::before {
    left: 8px;
    text-shadow: 2px 0 #00ffea;
    animation: glitch 3s infinite linear;
}
.container_adventure .glitch::after {
    left: 8px;
    text-shadow: -2px 0 #fe3a7f;
    animation: glitch 2s infinite linear;
}
@-moz-keyframes glitch {
    0% {
        clip: rect(41px, 9999px, 54px, 0);
    }
    5% {
        clip: rect(92px, 9999px, 24px, 0);
    }
    10% {
        clip: rect(41px, 9999px, 44px, 0);
    }
    15% {
        clip: rect(39px, 9999px, 51px, 0);
    }
    20% {
        clip: rect(8px, 9999px, 55px, 0);
    }
    25% {
        clip: rect(81px, 9999px, 63px, 0);
    }
    30% {
        clip: rect(35px, 9999px, 30px, 0);
    }
    35% {
        clip: rect(39px, 9999px, 23px, 0);
    }
    40% {
        clip: rect(36px, 9999px, 30px, 0);
    }
    45% {
        clip: rect(24px, 9999px, 45px, 0);
    }
    50% {
        clip: rect(15px, 9999px, 63px, 0);
    }
    55% {
        clip: rect(81px, 9999px, 80px, 0);
    }
    60% {
        clip: rect(25px, 9999px, 19px, 0);
    }
    65% {
        clip: rect(21px, 9999px, 15px, 0);
    }
    70% {
        clip: rect(73px, 9999px, 35px, 0);
    }
    75% {
        clip: rect(42px, 9999px, 44px, 0);
    }
    80% {
        clip: rect(76px, 9999px, 95px, 0);
    }
    85% {
        clip: rect(45px, 9999px, 60px, 0);
    }
    90% {
        clip: rect(56px, 9999px, 45px, 0);
    }
    95% {
        clip: rect(80px, 9999px, 81px, 0);
    }
    100% {
        clip: rect(41px, 9999px, 81px, 0);
    }
}
@-webkit-keyframes glitch {
    0% {
        clip: rect(41px, 9999px, 54px, 0);
    }
    5% {
        clip: rect(92px, 9999px, 24px, 0);
    }
    10% {
        clip: rect(41px, 9999px, 44px, 0);
    }
    15% {
        clip: rect(39px, 9999px, 51px, 0);
    }
    20% {
        clip: rect(8px, 9999px, 55px, 0);
    }
    25% {
        clip: rect(81px, 9999px, 63px, 0);
    }
    30% {
        clip: rect(35px, 9999px, 30px, 0);
    }
    35% {
        clip: rect(39px, 9999px, 23px, 0);
    }
    40% {
        clip: rect(36px, 9999px, 30px, 0);
    }
    45% {
        clip: rect(24px, 9999px, 45px, 0);
    }
    50% {
        clip: rect(15px, 9999px, 63px, 0);
    }
    55% {
        clip: rect(81px, 9999px, 80px, 0);
    }
    60% {
        clip: rect(25px, 9999px, 19px, 0);
    }
    65% {
        clip: rect(21px, 9999px, 15px, 0);
    }
    70% {
        clip: rect(73px, 9999px, 35px, 0);
    }
    75% {
        clip: rect(42px, 9999px, 44px, 0);
    }
    80% {
        clip: rect(76px, 9999px, 95px, 0);
    }
    85% {
        clip: rect(45px, 9999px, 60px, 0);
    }
    90% {
        clip: rect(56px, 9999px, 45px, 0);
    }
    95% {
        clip: rect(80px, 9999px, 81px, 0);
    }
    100% {
        clip: rect(41px, 9999px, 81px, 0);
    }
}
@-o-keyframes glitch {
    0% {
        clip: rect(41px, 9999px, 54px, 0);
    }
    5% {
        clip: rect(92px, 9999px, 24px, 0);
    }
    10% {
        clip: rect(41px, 9999px, 44px, 0);
    }
    15% {
        clip: rect(39px, 9999px, 51px, 0);
    }
    20% {
        clip: rect(8px, 9999px, 55px, 0);
    }
    25% {
        clip: rect(81px, 9999px, 63px, 0);
    }
    30% {
        clip: rect(35px, 9999px, 30px, 0);
    }
    35% {
        clip: rect(39px, 9999px, 23px, 0);
    }
    40% {
        clip: rect(36px, 9999px, 30px, 0);
    }
    45% {
        clip: rect(24px, 9999px, 45px, 0);
    }
    50% {
        clip: rect(15px, 9999px, 63px, 0);
    }
    55% {
        clip: rect(81px, 9999px, 80px, 0);
    }
    60% {
        clip: rect(25px, 9999px, 19px, 0);
    }
    65% {
        clip: rect(21px, 9999px, 15px, 0);
    }
    70% {
        clip: rect(73px, 9999px, 35px, 0);
    }
    75% {
        clip: rect(42px, 9999px, 44px, 0);
    }
    80% {
        clip: rect(76px, 9999px, 95px, 0);
    }
    85% {
        clip: rect(45px, 9999px, 60px, 0);
    }
    90% {
        clip: rect(56px, 9999px, 45px, 0);
    }
    95% {
        clip: rect(80px, 9999px, 81px, 0);
    }
    100% {
        clip: rect(41px, 9999px, 81px, 0);
    }
}
@keyframes glitch {
    0% {
        clip: rect(41px, 9999px, 54px, 0);
    }
    5% {
        clip: rect(92px, 9999px, 24px, 0);
    }
    10% {
        clip: rect(41px, 9999px, 44px, 0);
    }
    15% {
        clip: rect(39px, 9999px, 51px, 0);
    }
    20% {
        clip: rect(8px, 9999px, 55px, 0);
    }
    25% {
        clip: rect(81px, 9999px, 63px, 0);
    }
    30% {
        clip: rect(35px, 9999px, 30px, 0);
    }
    35% {
        clip: rect(39px, 9999px, 23px, 0);
    }
    40% {
        clip: rect(36px, 9999px, 30px, 0);
    }
    45% {
        clip: rect(24px, 9999px, 45px, 0);
    }
    50% {
        clip: rect(15px, 9999px, 63px, 0);
    }
    55% {
        clip: rect(81px, 9999px, 80px, 0);
    }
    60% {
        clip: rect(25px, 9999px, 19px, 0);
    }
    65% {
        clip: rect(21px, 9999px, 15px, 0);
    }
    70% {
        clip: rect(73px, 9999px, 35px, 0);
    }
    75% {
        clip: rect(42px, 9999px, 44px, 0);
    }
    80% {
        clip: rect(76px, 9999px, 95px, 0);
    }
    85% {
        clip: rect(45px, 9999px, 60px, 0);
    }
    90% {
        clip: rect(56px, 9999px, 45px, 0);
    }
    95% {
        clip: rect(80px, 9999px, 81px, 0);
    }
    100% {
        clip: rect(41px, 9999px, 81px, 0);
    }
}
