.namingofdomains
{
    font-size: 32px;
    padding: 10px;
    float: left;
}
.namingofdomains2
{
    font-size: 40px;
    padding: 10px;
    float: right;
}
.heading_text
{
    font-size: 25px;
}
.black
{
    color : black;
}